/*Last edited by Braden Toone on April 14th 2022*/
/*Used on About Me, Index, and Resume pages*/
ol {font-family: Arial, Helvetica, sans-serif; font-size: larger; font-weight: bold;}
ul {font-family: Arial, Helvetica, sans-serif; font-size: medium; font-weight: normal;}
.title {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: xx-large; font-weight: bold;}
.footer {font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small; font-weight: normal; text-decoration-color: darkolivegreen;}
.links {font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: small; font-weight: normal; text-decoration-color: darkolivegreen;}